- name: webnode
  hosts: all
  tasks:
    - name: Copiar archivos YAML al servidor destino
      copy:
        src: "/home/ubuntu/{{ item }}"
        dest: "/home/ubuntu/{{ item }}"
        mode: '0644'
      loop:
        - Deployment.yml
        - service.yml

    - name: Actualizar imagen y desplegar en Kubernetes
      shell: |
        # Reemplaza el texto exacto DOCKER_IMAGE_VALUE por la variable de Jenkins
        sed -i "s|DOCKER_IMAGE_VALUE|{{ DOCKER_IMAGE }}|g" /home/ubuntu/Deployment.yml
        kubectl apply -f /home/ubuntu/Deployment.yml
        kubectl apply -f /home/ubuntu/service.yml
